@using PranzoDoodle.Models;
@model UsersAndOptions

@{
    ViewBag.Title = "PranzoTool - Home";
}

@using (Html.BeginForm("EditSchedule", "Home", FormMethod.Post, new { @class = "ui form", @id = "editForm" }))
{
    int colW = 70 / Model.Options.Count();

    <blockquote style="text-align:center;">
        <h2 style="margin-bottom:5px;">È @DateTime.Now.ToString("dddd dd/MM"), segatevi sul doodle, bestie!</h2>
    </blockquote>

    <table class="ui celled definition unstackable table">
        <thead>
            <tr>
                <th></th>
                @foreach (var option in Model.Options)
                {
                    var deletePopupId = "deletePopup" + option.id;
                    var deleteFormId = "deleteForm" + option.id;
                    <th class="center aligned" style="border-top: .2em solid #00B5AD;">
                        @if (option.defaultOption == 0)
                        {
                            <i class="ui right floated red trash icon" style="cursor:pointer; float:right;" onclick="$('#@deletePopupId').modal('show');">

                            </i>
                            <a class="popup-trigger" style="cursor:pointer; text-decoration:underline;">
                                @option.descrizione
                            </a>
                        }
                        else
                        {
                            <a>
                                @option.descrizione
                            </a>
                        }
                        <div class="ui popup">
                            <div class="header">
                                @(string.IsNullOrWhiteSpace(option.nome) ? "N/A" : option.nome)
                            </div>
                            <div class="content">
                                @if (!string.IsNullOrEmpty(option.telefono))
                                {
                                    <div>Telefono: <strong>@option.telefono</strong></div>
                                }
                                @if (!string.IsNullOrEmpty(option.menuUrl))
                                {
                                    <div>
                                        <a target="_blank" href="@option.menuUrl">Consulta il menu</a>
                                    </div>
                                }
                            </div>
                        </div>

                        @if (option.defaultOption == 0)
                        {
                            <div class="ui modal" id="@deletePopupId">
                                <div class="ui header">
                                    Elimina @(string.IsNullOrWhiteSpace(option.nome) ? option.descrizione : option.nome)
                                </div>
                                <div class="ui content">
                                    @using (Html.BeginForm("DeleteOption", "Home", option, FormMethod.Post, new {@id = deleteFormId }))
                                    {
                                        <p>
                                            Sei sicuro di voler eliminare questo luogo dalle scelte disponibili per il pranzo?
                                            Nota: chiunque fosse segnato per questo luogo verrà resettato all'opzione predefinita
                                        </p>
                                    }
                                </div>
                                <div class="ui actions">
                                    <a class="ui green button" onclick="loadAndSubmit(this, $('#@deleteFormId'));">Elimina</a>
                                    <div class="ui cancel negative button">Annulla</div>
                                </div>
                            </div>
                        }
                    </th>
                }
            </tr>
        </thead>

        <tbody>
            @for (int i = 0; i < Model.Users.Count(); i++)
            {
                PranzoUsers user = Model.Users.ElementAt(i);
                <tr>
                    <td style="padding:0; width:30%;">
                        <input type="hidden" name="users[@i].id" value="@user.id" />
                        <input type="hidden" name="oldModel[@i].id" value="@user.id" />
                        <input type="hidden" name="oldModel[@i].nome" value="@user.nome" />
                        <input type="hidden" name="oldModel[@i].preferenza" value="@user.preferenza" />

                        <div class="ui fluid action input" style="padding:2px;">
                            <input type="text" name="users[@i].nome" value="@user.nome" />
                            <a class="ui red icon button" onclick="loadAndGo(this);" data-href="@Url.Action("DeleteUser", new { userId = user.id })">
                                <i class="trash icon"></i>
                            </a>
                        </div>
                    </td>

                    @for (int j = 0; j < Model.Options.Count(); j++)
                    {
                        PranzoOptions option = Model.Options.ElementAt(j);
                        bool segnato = option.PranzoUsers.Contains(user);
                        <td class="selectable center aligned @(segnato ? "positive" : "negative")" style="width:@colW%;">
                            <a onclick="$(this).find('input').prop('checked', true);" style="cursor:pointer;">
                                <div class="ui radio checkbox">
                                    <input type="radio" name="users[@i].preferenza" @(segnato ? "checked" : "") value="@option.id">
                                    <label></label>
                                </div>
                            </a>
                        </td>
                    }
                </tr>
            }

            <tr>
                <td style="padding:2px; width:30%;">
                    <div class="ui fluid buttons">
                        <a class="ui blue icon button" onclick="$('#popupAddUser').modal('show');" style="margin-right:5px;">
                            <i class="user icon"></i>
                            Aggiungi affamato
                        </a>
                        <a class="ui blue icon button" onclick="$('#popupAddOption').modal('show');">
                            <i class="food icon"></i>
                            Aggiungi posto
                        </a>
                    </div>
                </td>

                @for (int j = 0; j < Model.Options.Count(); j++)
                {
                    int count = Model.Options.ElementAt(j).PranzoUsers.Count;
                    <td class="center aligned" style="width:@colW%;">
                        @if (Model.Options.ElementAt(j).defaultOption == 0) {
                            <h3 class="ui header">
                                <i class="ui users icon @(count > 0 ? "green" : "red")"></i>
                                &nbsp;
                                @count
                            </h3>
                        }
                    </td>
                }
            </tr>
        </tbody>

    </table>

    <div class="ui grid">
        <div class="ui centered row">
            <div class="ui four wide column">
                <a onclick="loadAndSubmit(this, $('#editForm'));" class="ui green labeled fluid icon button">
                    <i class="ui save icon"></i>
                    Salva modifiche
                </a>
            </div>

            <div class="ui four wide column">
                <a onclick="loadAndGo(this);" class="ui yellow labeled fluid icon button" data-href="@Url.Action("Reset")">
                    <i class="ui undo icon"></i>
                    Resetta
                </a>
            </div>
        </div>
    </div>
}

<div class="ui modal" id="popupAddUser">
    <div class="ui header">♪ Aggiungi un posto a tavola ♫</div>
    <div class="ui content">
        @using (Html.BeginForm("AddUser", "Home", FormMethod.Post, new { @class = "ui form", @id = "addUserForm" }))
        {
            <div class="field">
                <label>Nome partecipante</label>
                <input type="text" name="userName" placeholder="Inserisci il nome...">
            </div>
        }
    </div>
    <div class="actions">
        <a class="ui green button" onclick="loadAndSubmit(this, $('#addUserForm'));">Aggiungi</a>
        <div class="ui cancel negative button">Annulla</div>
    </div>
</div>

<div class="ui modal" id="popupAddOption">
    <div class="ui header">Aggiungi nuova opzione pranzo</div>
    <div class="ui content">
        @using (Html.BeginForm("AddOption", "Home", FormMethod.Post, new { @class = "ui form", @id = "addOptionForm" }))
        {
            <div class="field">
                <label>Descrizione (ciò che compare nella tabella)</label>
                <input type="text" name="option.descrizione">
            </div>

            <div class="field">
                <label>Nome del locale [opzionale]</label>
                <input type="text" name="option.nome">
            </div>

            <div class="field">
                <label>Telefono [opzionale]</label>
                <input type="text" name="option.telefono">
            </div>

            <div class="field">
                <label>URL del menu [opzionale]</label>
                <input type="text" name="option.menuUrl">
            </div>
        }
    </div>
    <div class="actions">
        <a class="ui green button" onclick="loadAndSubmit(this, $('#addOptionForm'));">Aggiungi</a>
        <div class="ui cancel negative button">Annulla</div>
    </div>
</div>


@section Scripts
{
    <script>
        $('.popup-trigger').popup({
            hoverable: true,
            inline: true,
            on: 'click'
        });
    </script>
}